// Border
    
    // Solid
        $border-solid-default: 2px;

    // Radius 
        // BOX 
            $border-box-default: 20px;
    
// BOX Shadow 
    $boxShadow-default: 0px 2px 14px 0px;
    