// Color Pallet

    $primary: #211733;

    $secondary: #BF18C2;
    //Background color
        
        $body-title: #ffffff;
    
    // Box Shadow Color
        $boxShadow-color: rgba(0,0,0,0.75);

    

// Border
    // Solid
        $border-solid-default: 2px;

    // Radius 
        // BOX 
            $border-box-default: 20px;
    
// BOX Shadow 
    // Default 
        $boxShadow-default: 0px 2px 14px 0px;
    // Modal
        $boxShadow-modal: 10px 10px 28px 0px;
    
    